.skillcard{
    margin: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px grey;;
}
.whiteColor{
    color: white;
}

.skillname{
    margin-top:10px;
    font-size: 20px;
}

img:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}