<mat-card class="projectcard">
    <mat-card-header>
        <mat-card-title [ngClass]="{'yellowColorClass':darkModeOn,'blueColorClass':!darkModeOn}">{{project.name}}</mat-card-title>
        <mat-card-subtitle>{{project.projectInfo}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <details >
            <summary>More about project :</summary>
                <p class="moreInfo">{{project.projectDetailedInfo}}</p>
        </details>

        <details >
            <summary>Tech Stack :</summary>
                <div class="skill-list">
                    <mat-card [class]="darkModeOn?'yellowskillcard':'blueskillcard'"
                     
                    *ngFor="let tech of project.techstack;let i=index">
                        {{tech}}
                </mat-card>
                    </div>
        </details>

        <details >
            <summary>Roles and Responsibilities :</summary>
                <ul class="role-list">
                    <li class="roleitem"
                     *ngFor="let role of project.rolesAndResponsibilies;let i=index">
                    {{role}}
                </li>
            </ul>
        </details>
        
      </mat-card-content>

</mat-card>