<mat-list role="list">
    <mat-list-item  class="centeringContent" role="button" (click)="closeSideNav()">
        <mat-icon 
        class=" addingCursor" 
        >
            close
        </mat-icon>
    </mat-list-item>

    <mat-divider></mat-divider>

   

    <mat-list-item class="centeringContent addingCursor" role="button" (click)="navigate('home')" >
        <span>Home</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="centeringContent addingCursor" role="button" (click)="navigate('projects')" >
        Projects
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="centeringContent addingCursor" (click)="navigate('skills')" role="button" >
        Skills
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item class="centeringContent" role="button" >
        
        <mat-icon  
        [class]="darkModeOn ? 'yellowColor': 'blueColor' " 
        (click)="changeTheme()"
            >
            {{ darkModeOn ? 'wb_sunny' : 'bedtime'}}
        </mat-icon>
    </mat-list-item>

    <mat-divider></mat-divider>
    
  </mat-list>