<mat-list role="list" >
    <mat-list-item tabindex="0" [class]="darkModeOn ? 'centeringContentForDarkMode' : 'centeringContentForNormalMode'" role="button"  (click)="closeSideNav()">
        <mat-icon 
        class=" addingCursor" 
        >
            close
        </mat-icon>
    </mat-list-item>

    <mat-divider></mat-divider>

   

    <mat-list-item  tabindex="0" [class]="darkModeOn ? 'centeringContentForDarkMode' : 'centeringContentForNormalMode'" role="navigate" (click)="navigate('home')" >
        <span>Home</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item  tabindex="0" [class]="darkModeOn ? 'centeringContentForDarkMode' : 'centeringContentForNormalMode'" role="navigate" (click)="navigate('projects')" >
        Projects
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item  tabindex="0" [class]="darkModeOn ? 'centeringContentForDarkMode' : 'centeringContentForNormalMode'" (click)="navigate('skills')" role="navigate" >
        Skills
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item tabindex="0" [class]="darkModeOn ? 'centeringContentForDarkMode' : 'centeringContentForNormalMode'" role="button" >
        
        <mat-icon  
        (click)="changeTheme()"
            >
            {{ darkModeOn ? 'wb_sunny' : 'bedtime'}}
        </mat-icon>
    </mat-list-item>

    <mat-divider></mat-divider>
    
  </mat-list>