
.yellowColor{
    color: rgb(255, 193, 7);
    cursor: pointer;
    // padding-left: 80px;
}
.blueColor{
    color:blue;
    cursor: pointer;
}
.centeringContentForNormalMode{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(60, 100, 180, 1) !important;
}

.centeringContentForDarkMode{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 200, 0, 1) !important;
}