/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-teal, 500, 100, 900);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-theme($angular-dark-theme);
}
.darkBackgroundForSnackbar{
  background: #212121 !important;
  background-color:#212121 !important;
  color: rgba(255, 200, 0, 1) !important;
}

.whiteackgroundForSnackbar{
  background: white !important;
  background-color: white !important;
  color: rgba(60, 100, 180, 1);
}

.yellowColorClass{
  color:  rgba(255, 200, 0, 1);
}

.blueColorClass{
  color: rgba(60, 100, 180, 1);
}