.container{
    min-height: calc(100vh - 64px);
}
.darkBackground{
    background-color:black ;
}

.myProjectHeading{
    font-size: 40px;
}
.centerContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.projectsContainer{
    //Showing cards in a row
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   
}
